#Python cache
pycache/
*.py[cod]

#Virtual environments
.venv/
venv/
env/

#Environment variables
.env

#VS Code
.vscode/

#Jupyter
.ipynb_checkpoints/

#Streamlit secrets
.streamlit/secrets.toml

#Test / cache files
.pytest_cache/
.coverage

#OS files
.DS_Store
Thumbs.db